#layout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--back-dark-color);
    position: sticky;
    top:0;
    z-index: 100;
}
#header-logo {
    font-family: "Hakgyoansim Dunggeunmiso TTF B";
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
    text-decoration: none;
}
#header-logo img {
    width: 24px;
    height: 24px;
}

#header-logo p {
    color: var(--main-color);
    font-size: 24px;
}

#header-category {

    display: flex;
    gap: 20px;
}

#header-category a {
    width: 40px;
    text-align: center;
    color: var(--font-gray-color);
    font-size: 16px;
    text-decoration: none;
}

#header-auth {
    width: 300px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

#header-auth a{
    font-size: 8px;
    color:var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-decoration: none;
}

#header-auth a div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#header-auth a div img {
    width:20px;
    height: 20px;
}