.review-modal-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.review-modal-top-section {
    border: 3px solid #FFE4E4;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.review-modal-info-box {
    display: flex;
    gap: 20px;
}

.review-modal-image-box {
    width: 300px;
    height: 300px;
    border: 2px solid #FFE4E4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF5F5;
}

.review-modal-flex-vertical-div {
    display: flex;
    flex-direction: column;
}

.review-modal-info-fields {
    flex: 1;
}

.review-modal-info-field {
    background-color: #FFF0F0;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    min-height: 30px;
}

.review-modal-info-contents {
    background-color: #FFF0F0;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    min-height: 120px;
}

#review-modal-image-content-div {
    height: 65%;
    width: 85%;
    background-color: #FFFBFB;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFE4E4;
    text-align: center; /* 글자 가운데 */
    display: flex;
}

.review-modal-upload-btn {
    height: 18%;
    width: 85%;
    background-color: #FFF9F9;
    margin-bottom: 10px;
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    justify-content: center; /* 가로 방향 가운데 정렬 */
    border-radius: 10px;
    border: 2px solid #FFE4E4; /* 테두리 추가 */
}

.review-modal-upload-btn:hover {
    background-color: #FFDFDF; /* 호버 시 배경색 변경 */
}

.review-modal-create-button-div {
    /* 정렬을 위한 flex */
    display: flex;
    align-items: center; /* 세로 방향 가운데 정렬 */
    justify-content: center; /* 가로 방향 가운데 정렬 */
    text-align: center; /* 글자 가운데 */
    height: 100%;
}

.review-modal-create-btn {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    background-color: #FFF9F9;
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    justify-content: center; /* 가로 방향 가운데 정렬 */
    border-radius: 10px;
    border: 2px solid #FFE4E4; /* 테두리 추가 */
}

.review-modal-create-btn:hover {
    background-color: #FFDFDF; /* 호버 시 배경색 변경 */
}
