<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper와 Interface의 경로와 이름이 같아야 한다. -->
<mapper namespace="com.spring.pettu.mapper.SpotMapper">
<!--
	<select id="reviewList" resultType="com.spring.pettu.com.spring.pettu.review.vo.ReviewVO">
		select * from poto
	</select>
-->

    <select id="spotList" resultType="com.spring.pettu.spot.vo.SpotVO">
        select * from spot
    </select>

    <select id="spotListOfTop3" resultType="com.spring.pettu.spot.vo.SpotVO">
        <![CDATA[
        SELECT *
        FROM SPOT
        WHERE spot_seq IN (
            SELECT spot_seq
            from (
                SELECT spot_seq, total_visit_cnt, ROUND(total_sum_score/total_visit_cnt,2) as total_review_socre
                FROM (
                    select spot_seq, count(1) as total_visit_cnt , sum(review_score) as total_sum_score
                    from review
                    group by spot_seq
                )
                where ROUND(total_sum_score/total_visit_cnt,2) >= 4.0
                ORDER BY total_visit_cnt DESC, total_review_socre DESC
            )
            WHERE ROWNUM <= 3
        )
        ]]>
    </select>

    <select id="spotListBySearchType" parameterType="com.spring.pettu.spot.vo.SearchSpotType" resultType="com.spring.pettu.spot.vo.SpotVO">

        SELECT *
        FROM spot
        <where>
            <!-- 'searchKeyword'가 있을 경우 'SPOT_NAME LIKE' 조건 추가 -->
            <if test="searchKeyword != null and searchKeyword != ''">
                SPOT_NAME LIKE '%' || #{searchKeyword} || '%'
            </if>

            <!-- 'locations'가 있을 경우, 'AND'로 조건 추가 -->
            <if test="locations != null and locations.size() > 0">
                <if test="searchKeyword != null and searchKeyword != ''">
                    AND
                </if>
                SPOT_AREA_CODE IN
                <foreach collection="locations" item="location" open="(" close=")" separator=",">
                    #{location}
                </foreach>
            </if>

            <!-- 'categories'가 있을 경우, 'AND'로 조건 추가 -->
            <if test="categories != null and categories.size() > 0">
                <if test="searchKeyword != null and searchKeyword != '' or locations != null and locations.size() > 0">
                    AND
                </if>
                CATEGORY_SEQ IN
                <foreach collection="categories" item="category" open="(" close=")" separator=",">
                    #{category}
                </foreach>
            </if>
        </where>
    </select>

    <select id="spotListSize" resultType="int">
        select count(1) from spot
    </select>

    <select id="spotListByPaging" resultType="com.spring.pettu.spot.vo.SpotVO">
        select s.*
        from
            (
                select spot.*, (ROW_NUMBER() OVER(order by SPOT_CREATE_DATE asc, SPOT_SEQ)) as page_spot_seq
                from spot
            ) s
        where page_spot_seq between #{startSeq} and #{endSeq}
    </select>

    <select id="getRecentlyOpenedSpots" resultType="com.spring.pettu.main.vo.MainVO">
        SELECT s.SPOT_SEQ, s.SPOT_PICTURE, c.CATEGORY_NAME, s.SPOT_NAME, s.SPOT_LOCATION, s.SPOT_OPEN_DATE, s.SPOT_TOTAL_AVG_SCORE
        FROM spot s, category c
        WHERE (c.category_seq = s.category_seq) and
            s.SPOT_OPEN_DATE
                BETWEEN ADD_MONTHS(SYSDATE, -3) AND SYSDATE
        ORDER BY s.SPOT_OPEN_DATE DESC
    </select>


</mapper>


