<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper와 Interface의 경로와 이름이 같아야 한다. -->
<mapper namespace="com.spring.pettu.mapper.UserMapper">

    <!-- 이메일로 유저 가져오기 -->
    <select id="findByUserEmail" resultType="com.spring.pettu.auth.user.vo.UserVO">
        SELECT * FROM user_app
        WHERE user_email = #{userEmail}
    </select>

    <update id="updatePet" parameterType="com.spring.pettu.mypage.vo.PetVO">
        UPDATE pet
        SET pet_name = #{petName},
            pet_birth = #{petBirth},
            pet_gender = #{petGender},
            pet_king = #{petKing},
            pet_type = #{petType},
            pet_detail_type = #{petDetailType},
            pet_updateat = sysdate
        WHERE pet_seq = #{petSeq}
    </update>

    <!-- 비밀번호 업데이트 -->
    <update id="updatePassWord" >
        update user_app
        set user_pw = #{userPw},
         user_status = 1
        where user_email = #{userEmail}
    </update>

    <!-- 시퀀스로 유저 조회 -->
    <select id="findByUserSeq" parameterType="long" resultType="com.spring.pettu.auth.user.vo.UserVO">
        SELECT *
        FROM user_app
        WHERE user_seq = #{userSeq}
    </select>


    <!-- 닉네임 중복 체크 -->
    <select id="findByUserNickName" resultType="com.spring.pettu.auth.user.vo.UserVO">
        SELECT *
        FROM user_app
        WHERE user_nickname = #{userNickname}
    </select>


    <!-- 회원가입 , 유저 추가 -->
    <insert id="saveUser" parameterType="com.spring.pettu.auth.user.vo.UserVO">
        INSERT INTO user_app (
        user_seq, user_email, user_pw,
        user_name, user_nickname, user_role,
        user_status, user_create_at, user_update_at, user_provider
        ) VALUES (
        user_seq.NEXTVAL, #{userEmail}, COALESCE(#{userPw}, 'OAUTH_USER'),
        #{userName}, #{userNickname}, 'ROLE_USER',
        1, SYSDATE, null,
        <if test="userProvider != null and userProvider != ''">
            #{userProvider}
        </if>
        <if test="userProvider == null or userProvider == ''">
            null
        </if>
        )
    </insert>

    <!--   <insert id="saveUser" parameterType="com.spring.pettu.auth.user.vo.UserVO">
           INSERT INTO user_app (
               user_seq, user_email, user_pw,
               user_name, user_nickname, user_role,
               user_status, user_create_at, user_update_at
           ) VALUES (
                        user_seq.NEXTVAL, #{userEmail},#{userPw}
                        #{userName}, #{userNickname}, 'ROLE_USER',
                        #{userStatus}, SYSDATE, null
                    )
       </insert>
   -->

 <!-- Oauth 유저 가입-->







</mapper>


