<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper와 Interface의 경로와 이름이 같아야 한다. -->
<mapper namespace="com.spring.pettu.mapper.UserMapper">

    <!-- 이메일로 유저 가져오기 -->
    <select id="findByUserEmail" resultType="com.spring.pettu.auth.user.vo.UserVO">
        SELECT * FROM user_app
        WHERE user_email = #{userEmail}
    </select>

    <!-- 시퀀스로 유저 조회 -->
    <select id="findByUserSeq" parameterType="long" resultType="com.spring.pettu.auth.user.vo.UserVO">
        SELECT *
        FROM user_app
        WHERE user_seq = #{userSeq}
    </select>


    <!-- 닉네임 중복 체크 -->
    <select id="findByUserNickName" resultType="com.spring.pettu.auth.user.vo.UserVO">
        SELECT *
        FROM user_app
        WHERE user_nickname = #{userNickname}
    </select>



    <insert id="saveUser" parameterType="com.spring.pettu.auth.user.vo.UserVO">
        INSERT INTO user_app (
            user_seq, user_email, user_pw,
            user_name, user_nickname, user_role,
            user_status, user_create_at, user_update_at
        ) VALUES (
                     user_seq.NEXTVAL, #{userEmail}, #{userPw},
                     #{userName}, #{userNickname}, 'ROLE_USER',
                     #{userStatus}, SYSDATE, null
                 )
    </insert>







</mapper>


