.petbti-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.petbti-title p{
    color: var(--font-gray-color);
}

#title-pet {
    color: var(--main-color);
}

#title-b {
    color: var(--sub-yellow-color);
}

#title-t {
    color: var(--sub-blue-color);
}

#title-i {
    color: var(--sub-green-color);
}

.petbti-start-animation {
    height: 70%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    position: relative;
}

.petbti-start-animation img{
    max-width: 100%;
    height: 80%;
    transition: opacity 1s ease-in-out;
}

.petbti-start-animation span{
    font-family: "Hakgyoansim Dunggeunmiso TTF B";
    bottom: 0;
    font-size: 40px;
    display: flex;
    transition: opacity 1s ease-in-out;
}

@media screen and (max-height: 800px) {
    .petbti-start-animation {
        gap: 20px;
    }
    .petbti-start-animation span{
        font-size: 30px;
    }
}