.petbti-select-card-fragment {
    display: flex;
    border-radius: 20px;
    border: 2px solid var(--font-gray-color);
    padding: 20px 30px;
    width: 70%;
    gap: 20px;
}
.petbti-select-card-fragment[data-select="true"] {
    border-color: var(--sub-yellow-color);
}

.petbti-select-card-fragment img{
    border-radius: 100%;
    width: 30%;
}

.petbti-select-card-info-fragment {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.petbti-select-card-info {
    font-family: "Hakgyoansim Dunggeunmiso TTF B";
    margin-bottom: 10px;
}

.petbti-select-card-mbti {
    background-color: var(--font-gray-color);
    padding: 3px 5px;
    border-radius: 5px;
}

.gender-female {
    color: var(--font-point-color);
}

.gender-male {
    color: #007bff;
}

.petbti-select-card-pseq {
    display: none;
}

@media screen and (max-width: 450px) {
    .petbti-select-card-info-fragment p, .petbti-select-card-info span {
        font-size: 12px;
    }
}